body {
  font-size: 15px;
  line-height: 20px;
  background-color: #f4f5f6;
  color: #333;
  font-family: "Arial", monospace;
}

.outContainer {
  margin: 0 20px;
  background-color: #fff;
}

header {
  margin: 0;
  padding: 0;
  display: block;
  color: #fff;
  border-bottom: 2px solid #f4f5f6;
}

#headerPage {
  z-index: 10;
  position: relative;
  border: solid black 1px;
}

#container {
  background-color: #f72210;
  padding: 30px 0 40px 30px;
    border: solid green 1px;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

header .col {
  padding-right: 0;
  padding-left: 0;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
}

#headerTopMedium {
  position: absolute;
  z-index: 3;
  top: 10px;
  padding: 10px 15px;
  left: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;
  border-style: none;
  height: 47px;
  width: 28%;
    border: solid blue 1px;
}

.brand svg {
  fill: white;
  font-size: 15px;
}

#headerTopRight {
  display: flex;
  justify-content: flex-end;
}

#headerTopRight a {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 10px;
  color: #fff;
  text-transform: uppercase;
}

#headerTopRight a:hover {
  text-decoration: none;
}

.text-right {
  text-align: right!important;
}

.button {
  padding: 3px 10px;
  background-color: #fff;
  color: #f72210;
  border-radius: 0;
}

.navBar {
    max-width: 95%;
}

.navBar a {
    font-size: 1.1rem;
}

.navItem {
    line-height: 0.5;
    margin: 15px 0;
    padding: 0;
    border-right: 1px solid darkgray;
    flex: auto;
    text-align: center;
}

.search {
    margin-right: 5px;
    color: #999;
    margin-right: 5px;
    vertical-align: middle;
}
